<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Job | Rahul</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<main>
		<!-- Header -->
		<%- include('partials/header') %>
		<!-- Product List -->
		<div class="jobBox p50">
			<div class="container">
				<%- body %>
			</div>
		</div>
		<%- include('partials/footer') %>
	</main>
	<!-- Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>